<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DRB Route Scheduler - Server | Backend Home</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxp25RthIMORAdZ5XW0HmI81ST3WyDzUBZLw&s"
        />
        <link rel="stylesheet" href="/homeStyles.css" />
    </head>
    <body>
        <div class="content">
            <h1>Hello from the <i>Server (Backend)</i></h1>
            <p>Restoran Website - Node.js Server is running</p>
        </div>
        <footer>
            Developed by <strong>Ahmed Maher Algohary</strong> •
            <a href="https://ahmedmaher-portfolio.vercel.app/" target="_blank"
                >Portfolio</a
            >
        </footer>
    </body>
</html>
